
body {
    font-family: sans;
    width: 800px;
    margin: 1em auto;
    color: #2e3436;
}

div#logo {
  padding-left: 16px;
}

div#name {
  padding-left: 16px;
  font-weight: bold;
  font-size: 24px;
}

div#description {
}

div#box {
    border: solid #2e3436 1px;
}

div#header, div#menu, div#content, div#footer {
    padding-left: 0.6em;
    padding-right: 0.6em;
}

div#menu {
    background-color: #2e3436;
    padding: 0.6em 0 0.6em 0;
}

#menu span {
    background-color: #2e3436;
    font-weight: bold;
    padding: 0.6em;
}

#menu span.current {
    background-color: #555753;
}

#menu a {
    color: #fefefc;
    text-decoration: none;
}

div#footer {
    color: gray;
    text-align: center;
    font-size: small;
}

div#footer a {
    color: gray;
    text-decoration: none;
}

pre {
    border: dotted black 1px;
    background: #eeeeec;
    font-size: small;
    padding: 1em;
}


.ribbon {
  background-color: #a00;
  overflow: hidden;
  /* top left corner */
  position: absolute;
  top: 2.5em;
  /* 45 deg ccw rotation */
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  /* shadow */
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
}
.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 0.5em #444;
}
